////
//body{
//  background-color: #ffffff;
//}



@media (min-width: 600px) {  
    // body {  
        
    // }
    // .container-main{
    //     width: 900px; /* 或者你想要的任何宽度 */
    //     display: flex;  
    //     justify-content: center; /* 水平居中 */  
    //     // align-items: center; /* 垂直居中，如果需要的话 */  
    //     .container-1{
    //         border: 1px solid rgb(209, 204, 204);
    //         padding-top: 10;
    //         padding-left: 10px;
    //         padding-right: 10px;
    //         padding-bottom: 10px;
    //     }
        
    // }
    // .el-dialog {
    //     background-color: aqua;
    // }
}

.reminder {
    width: auto;
    padding-left: 10px;
    padding-right: 10px;
    border: 1px solid #0a691ee8;
    margin-bottom: 20px;
    background-color: lavenderblush;
    border-radius: 5px;
    p {
        margin-bottom: 5px;
        margin-top: 5px;
        font-size: 12px;
        color: mediumblue;
    }
}

