body {
    margin: 0px;
}

.my_refresh {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.reminder {
    width: auto;
    padding-left: 10px;
    padding-right: 10px;
    border: 1px solid #0a691ee8;
    margin-bottom: 20px;
    background-color: lavenderblush;
    border-radius: 5px;
    p {
        margin-bottom: 5px;
        margin-top: 5px;
        font-size: 12px;
        color: mediumblue;
    }
}

.pagination {
    padding-top: 18px;
}
